.course-list-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
  }

  .course-list {
    width: 500px;
  }
}
