.course-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form-field {
    width: 100%;
  }
}

.dialog-action-button {
  button {
    width: 100px;
  }
}

.course-dialog-content {
  padding-top: 20px;
}
